Django>=5.1,<6.0
djangorestframework>=3.15
psycopg2-binary>=2.9
django-cors-headers>=4.3
djangorestframework-simplejwt>=5.3
python-decouple>=3.8
python-docx>=1.1
docxtpl>=0.20
requests>=2.31
Pillow>=10.0
openpyxl>=3.1
gunicorn>=22.0
